<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Get Approval</th>
  </tr>
   {% for pic in f%}
  <tr>
    <td><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>
    <td> {{ product.price }}
    {{ pic.photo.url }}</td>
    <td><img src="{{ pic.photo.url }}" height="300" width="300" border="1"></td>
  </tr>
<br>
{% endfor %}
</table>  
</body>
